<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Kolokwium</title>


   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <style>
       body, html {
           height: 100%;
           margin: 0;
       }

   </style>
</head>
<body>
<h1><%= welcomeText %> </h1>
<section id="wykres">

   <div>
       Populacja na kontynentach
       <canvas id="chart"></canvas>
   </div>

</section>

<section id="wykres2">

    <div>
        Wykres testowy
        <canvas id="chart2"></canvas>
    </div>
 
 </section>


<script>

const chartData = '<%= data %>'; //tutaj nalezy przekazać dane oraz wykonać odpowiednią operację


// pobranie referencji do miejsa wyświetlenia
const ctx = document.querySelector("#chart").getContext('2d');

// sparsowanie danych otrzymanych z serwera w miejscu właściwości data
const configChart2 = {
    type: 'line',
    data: chartData,
    options: {
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'linear',
            }],
            title: {
                display: false,
            }
        }
    }
};



// zbudowanie wykresu
new Chart(ctx, configChart2);

const chartConfig = '<%-chart1%>';

const config = JSON.parse(chartConfig);

const chart1 = new Chart(
    document.getElementById('chart1'),
    config
);

</script>


</body>
</html>
